.tokenBoxWrap {
    position: relative !important;
    cursor: pointer;
    display: inline-block;
}

.tokenBoxWrap .mask {
    width: 91%;
    height: 80%;
    overflow: hidden;
    -webkit-mask-image: url("./assets/backgrounds/token-frame-empty.svg");
    mask-image: url("./assets/backgrounds/token-frame-empty.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: 0;
}

.tokenBoxWrap .mask canvas {
    width: 100% !important;
    height: 100% !important;
}

.tokenBoxWrap .timer {
    color: #ffffff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2px;
    left: 0;
    font-size: 9px;
    font-family: "TTSC-Bold";
}

.tokenBoxWrap .level {
    position: absolute;
    bottom: -6px;
    width: 30px;
    background-color: #303746;
    padding: 0;
    font-family: "TTSC-Bold";
    color: #ededed;
    text-align: center;
    font-size: 10px;
    left: 9px;
}

.tokenBoxWrap .level.mythic {
    background-color: #ffb65d;
    color: #000000;
}

.tokenBoxWrap .level.epic {
    background-color: #a885f0;
    color: #000000;
}

.tokenBoxWrap .level.rare {
    background-color: #3b9de3;
    color: #000000;
}

.tokenBoxWrap .level.uncommon {
    background-color: #04e2b9;
    color: #000000;
}

.tokenBoxWrap .level.common {
    background-color: #c5dcd0;
    color: #000000;
}

.tokenBoxWrap .level.none {
    background-color: #303746;
    color: #ededed;
}

.tokenBoxWrap .value {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 2px 4px;
    background-color: #091218;
    color: #efefef;
    font-size: 7px;
}

.tokenBoxWrap .frame {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    display: block;
    background-image: url('./assets/backgrounds/token-box-none.svg');
}

.tokenBoxWrap .emptyIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    max-width: 60%;
    max-height: 60%;
}

.tokenBoxWrap .badge {
    width: 20%;
    top: 4px;
    right: 1px;
    position: absolute;

}

.tokenBoxWrap .frameActive {
    background-image: url('./assets/backgrounds/token-box-uncommon.svg');
    height: 116%;
    width: 116%;
    top: 50% !important;
}

.tokenBoxWrap .frame.mythic {
    background-image: url('./assets/backgrounds/token-box-uncommon.svg');
}

.tokenBoxWrap .frame.epic {
    background-image: url('./assets/backgrounds/token-box-epic.svg');
    z-index: 1;
}

.tokenBoxWrap .frame.rare {
    background-image: url('./assets/backgrounds/token-box-rare.svg');
}

.tokenBoxWrap .frame.uncommon {
    background-image: url('./assets/backgrounds/token-box-uncommon.svg');
}

.tokenBoxWrap .frame.common {
    background-image: url('./assets/backgrounds/token-box-common.svg');
}

.tokenBoxWrap .frame.default {
    background-image: url('./assets/backgrounds/token-box-none.svg');
}
