form {
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    width: 100%;
    max-width: 300px;
    padding:5px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
  }
  button {
    max-width: 100px;
    padding:5px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor:pointer;
  }
  div {

    max-width: 300px;
    margin: 10px 0px;

  }
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        max-width: 100px;
        padding:5px;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        cursor:pointer;
      }
}
