body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

canvas {
  z-index: -1;
  position: absolute;
  left: -20%;
}

::-webkit-scrollbar-track {
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
::-webkit-scrollbar {
  width: 5px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #2e2e2e;
}

.graybackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 100, 100);
  z-index: 50000;
}
