
@font-face {
    font-family: 'Proxima';
    src: url('./font/Proxima/Proxima.otf')  format("opentype");
  }
 
@keyframes fadeIn { 
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 1;
        transform: skewX(-15deg);
        transform: translate3d(0%, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(1005, 0, 0);
        transform: skewX(-15deg);
    }
}

.StyledLanding {
    height: 100vh;
    width: 100vw;
    background-size : cover;
    position : fixed;
    align-items : center;
    overflow : hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

.topBanner {
    background : radial-gradient(49.5% 173.11% at 50.84% -79.89%, #95414E 30.36%, rgba(137, 61, 73, 0) 100%);
    width : 1377px;
    top : 0px;
    display : flex;
    flex-direction : column;
    animation: fadeIn 1s ease-in both;
}

.webaverse-text {
    width: calc(400vh * 0.118);
    height: calc(148.83vh * 0.118);
    display: inline-block;
    margin: 41px auto auto;
}

.studio {
    color : #61E5F9;
    font-family : 'Proxima';
    font-style : normal;
    font-weight : 800;
    font-size : calc(30vh * 0.118);
    line-height : calc(49vh * 0.118);
    text-align : center;
    margin-top : calc(12vh * 0.118);
}

.subTitle {
    color : white;
    font-family : Proxima;
    font-style : normal;
    font-weight : 400;
    font-size : calc(30vh * 0.118);
    line-height : calc(49vh * 0.118);
    text-align : center;
    margin-top : calc(20vh * 0.118);
    animation: fadeIn 1s ease-in both;
}

.subTitle-text {
    color : white;
    font-family : Proxima;
    font-style : normal;
    font-weight : 400;
    font-size : calc(30vh * 0.118);
    line-height : calc(49vh * 0.118);
    text-align : center;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: 20;
}

.subTitle-desc {
    font-size : calc(20vh * 0.118);
    line-height : calc(37vh * 0.118);
    font-style: normal;
    font-weight: 400;
}

.imgs {
    display : flex;
    user-select : none;
    margin-top: 30px;
}

.characterGroup {
    animation-name : fadeleft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    position: relative;
}


.selection-box {
    background-color: transparent;
    z-index: 10;
    bottom: 48px;
    width: 40vw;
    position: absolute;
    padding: 8px 12px 24px 12px;
    text-align: center;
    max-width: 440px;
}

.selection-box * {
    font-family: 'Proxima' !important;
}

.selection-box.right {
    right: 48px;
}

.selection-box.left {
    left: 48px;
}

.selection-box .backdrop {
    background: #060b0f;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
}

.selection-box .backdrop::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 40px;
    transform: skewX(4deg);
    background-color: #060b0f;
    z-index: 0;
}

.selection-box .backdrop::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: -20px;
    height: 100%;
    width: 40px;
    transform: skewX(-4deg);
    background-color: #060b0f;
    z-index: 0;
}

.selection-box .box {
    position: relative;
    z-index: 2;
}

.selection-box h2 {
    text-transform: uppercase;
    color: #FCC000;
    margin-bottom: 0px;
}

.selection-box p {
    color: #FFFFFF;
    line-height: 20px;
}

.selection-box .box button {
    left: 50%;
    bottom: -52px;
    position: absolute;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
