.topBanner {
    background : radial-gradient(49.5% 173.11% at 50.84% -79.89%, #95414E 30.36%, rgba(137, 61, 73, 0) 100%);
    width : 1377px;
    top : 0px;
    display : flex;
    flex-direction : column;
    animation: fadeIn 1s ease-in both;
    user-selector : none;

    img {
        width: 400vh * 0.118;
        height: 148.83vh * 0.118;
    }

    .studio { 
        color : #61E5F9;
        font-family : 'Proxima';
        font-style : normal; 
        font-weight : 800;
        font-size : 30vh * 0.118;
        line-height : 49vh * 0.118;
        text-align : center;
        margin-top : 12vh * 0.118;
    }
}
.subTitle{
    color : white;
    font-family : Proxima;
    font-style : normal;
    font-weight : 400;
    font-size : 30vh * 0.118;
    line-height : 49vh * 0.118;
    text-align : center;
    margin-top : 20vh * 0.118;
    animation: fadeIn 1s ease-in both;
    user-selector : none;

    &-desc {
        font-size : 20vh * 0.118;
        line-height : 37vh * 0.118;
    }
}
.characterGroup {
        animation-name : fadeleft;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out; 
        animation-fill-mode: both;
        user-selector : none;
        position: relative;

        .landingPop {
            display: none;
            height: fit-content;
            top: -40px !important;
            transition: all 0.5s;
        }

        &:hover {
            .landingPop {
                display: block;
            }
        }

        .inner {
            border: 2px solid #525073;
            transition: .5s;
            background: rgba(38, 38, 38, 0.25);
            backdrop-filter: blur(22.5px);
            width : 300vh * 0.118;
            display : flex;
            flex-direction : column;
            align-items : center;
            height : 400vh * 0.118;
            box-sizing : border-box;
            border-radius : 10px;
            overflow : hidden;
            transform: skewX(-15deg) !important;

            img {
                height: 380vh * 0.118;
            }

            &:hover{
                alpha : 1;
                border : 2px solid #61E5F9;
                transform: translateY(-25%);
                &::before {
                 left: 250%;
                }
            }
            &::before{
              content: '';
              background: rgba(255,255,255, 0.1);
              backdrop-filter: blur(3px);
              width: 100%;
              height: 100%;
              top: 0%;
              left: -250%;
              
              transform: skew(-65deg);
              
              position: absolute;
              
              transition: left 
                300ms
                ease-in-out
            }

            .characterImage {
                position: absolute;
                bottom: 0px;
                transform : skewX(15deg);
                z-index: -999;
            }
            .characterTitle {
                height : 49vh * 0.118;
                font-family : Proxima;
                font-style : normal;
                font-weight : 800;
                font-size : 28vh * 0.118;
                line-height : 28vh * 0.118;
                color : #61E5F9;
                display : inline-block;
                transform : skewX(15deg);
                margin-top: 40vh * 0.118;
            }
        }

        &:hover {
            .inner {
                backdrop-filter: blur(10px);
                background-color: rgba(255,255,255, 0.1);
                transition: 0.2s;
            }
        }
}

@font-face {
    font-family: 'Proxima';
    src: url('./font/Proxima/Proxima.otf')  format("opentype");
  }
 
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 1;
        transform: skewX(-15deg);
        transform: translate3d(0%, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(1005, 0, 0);
        transform: skewX(-15deg);
    }
}