body {
    margin: 0;
    padding: 0;
}

.root {
    overflow: hidden;
    margin:0;
    padding:0;
}

#editor-scene {
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}