@import "../../assets/styles/colors";

.navigation-wrap {
  background: none !important;
  position: fixed !important;
  left: 0;
  top: 0;
  border-bottom: 1px solid $NavMainBackgroundColor !important;
  box-shadow: none !important;
  a {
    text-decoration: none;
    color: inherit;
  }
  .bc-arrow {
      font-size: 10px;
      color: $NavMainBackgroundColor2 !important;
      vertical-align: middle;
      display: inline-block;
      margin: 0 4px;
      margin-top: -3px;
  }
  .logo {
      padding-top: 4px !important;
      display: inline-block;
      opacity: 0.8;
      margin-left: -5px;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
    img {
      height: 42px;
      margin-right:40px;
      margin-top: -4px;
      opacity: 0.9;
      vertical-align: middle;
    }
  }
}
