.classdisabled {
  pointer-events: none;
  opacity: 0.5;
}

.container {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.classContainer {
  text-align: center;
  background: rgba(5, 11, 14, 0.8);
  color: aliceblue;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.classContainer .class,
.classContainer .classdisabled {
  flex: 1;
  display: flex;
  cursor: pointer;
  min-width: 0px;
  flex-direction: column;
  margin: 24px 8px 8px 8px;
  align-items: center;
  justify-content: center;
}

.classContainer .icon {
  flex: 1;
  z-index: 2;
  margin-top: -2.5vh;
}

/* Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .classContainer .icon {
    flex: 1;
    z-index: 2;
    margin-top: -1.5vh;
  }
}

/* Smaller */
@media only screen and (min-device-width: 0) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .classContainer .icon {
    flex: 1;
    z-index: 2;
    margin-top: -1vh;
  }
}

.classContainer .icon img {
  background: #000;
  width: 100%;
  height: auto;
  max-width: 3.5vw;
}

.classContainer .name {
  font-size: 2vw;
  flex: 1;
}
.classContainer .description {
  font-size: 1.2vw;
  flex: 1;
}

.classContainer .classFrame {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  z-index: 0;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/assets/backgrounds/class-mask.svg");
  -webkit-mask-image: url("/assets/backgrounds/class-mask.svg");
}

.classContainer .classFrame .frameContainer {
  width: 100%;
  flex: 1;
}

.classContainer .classFrame .frame {
  width: 100%;
  height: auto;
}

.classContainer .classFrame .image {
  width: 100%;
  height: auto;
  max-width: 230px;
}

.classContainer .classFrame .lockedContainer {
  position: absolute;
}

.classContainer .classFrame .locked {
  width: 100%;
  height: auto;
  max-width: 2vw;
}

.classContainer .class:hover .name {
  color: #fcc000;
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  left: 32px;
  width: calc(100% - 64px);
  width: -webkit-calc(100% - 64px);
  text-align: center;
}

.buttonContainer .buttonLeft {
  float: left;
}

.buttonContainer .buttonRight {
  float: Right;
}

.buttonContainer .buttonCenter {
  margin: 0 8px;
}

.buttonContainer::after {
  content: " ";
  display: block;
  clear: both;
}

.buttonContainer button {
  min-width: 120px;
}

.topLine {
  background: rgb(0, 149, 100);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
  width: 100%;
  height: 1px;
  z-index: 10;
}

.bottomLine {
  background: rgb(0, 149, 100);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
  width: 100%;
  height: 1px;
  z-index: 10;
}
