.buttonContainer {
    position: absolute;
    left: 0;
    width: calc(100% - 64px);
    width: -webkit-calc(100% - 64px);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    height: 320px;
}
.buttonContainer .button {
    background: none !important;
    border: none !important;
    cursor: pointer;
    margin: 0 32px;
    height: 320px;
    width: 126px;
    position: relative;
}
.buttonContainer .button img {
    height: 100%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
}
.buttonContainer .button:hover img {
    top: -8px;
}

