.container{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.buttonContainer {
    z-index: 0;
    width: 100%;
    padding: 20px 32px;
    display: flex;
}

.buttonContainer .leftButtonContainer{
    margin-right: auto;
    display: inline-flex;

}

.buttonContainer .rightButtonContainer{
    margin-left: auto;
    display: inline-flex;
}

.buttonContainer .buttonCenter {
    margin: 0 8px;
}

.buttonContainer::after {
    content: ' ';
    display: block;
    clear: both;
}

.buttonContainer button {
    min-width: 120px;
}