@import "../../assets/styles/colors";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.tools-wrap {
  position: absolute;
  left: 0px;
  bottom: 0;
  height: 100vh;
  width: 400px;
  color: #efefef;
  border-right: 1px solid $NavMainBackgroundColor;
  .tools-navigation-wrap {
    width: 80px;
    box-sizing: border-box;
    position: absolute !important;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: 1px solid $NavMainBackgroundColor;
    z-index: 10;
  }
  .tools {
    padding: 1em;
    width: 293px !important;
    top: 0;
    left: 80px;
    height: 100%;
    position: absolute !important;
    box-sizing: border-box;
    .download-button {
      width: 100%;
      margin-bottom: 12px;
    }
    .tabs {
      min-height: 28px;
      margin-bottom: 16px;
      button {
        color: #ffffff;
        font-size: 10px;
        min-width: auto;
        padding: 4px 8px;
        padding-top: 0 !important;
        margin-top: 0 !important;
        min-height: 12px;
      }
    }
  }

  .xyz-slider-wrap {
    border-top: 1px solid $NavMainBackgroundColor;
    margin-top: 8px;
    padding-top: 12px;
    .slider {
      padding: 9px 0 9px 0;
      width: 60%;
    }
    .input {
      width: 30%;
      float: right;
      height: 16px;
      font-size: 12px;
      background: none;
      border: 1px solid $NavMainBackgroundColor;
      color: #efefef;
    }
    .title {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }
  .editor-list {
    padding: 0 16px;
    width: 240px;
    margin-left: 80px;
    position: absolute;
    box-sizing: border-box;
  }
  .categories-wrap {
    width: 80px;
    padding: 0;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    height: calc(100vh - 65px);
    border-right: 1px solid $NavMainBackgroundColor;
    z-index: 10;
    .mesh-nav-item {
      width: 100%;
      border-bottom: 1px solid $NavMainBackgroundColor;
      box-sizing: border-box;
      padding: 12px 18px;
      cursor: pointer;
      position: relative;
      .icon {
        opacity: 0.3;
        background: none !important;
      }
      svg {
        fill: $NavMainActiveColor;
        height: 8px;
        position: absolute;
        display: none !important;
        &.angle-top {
          top: -8px;
          right: 0;
        }
        &.angle-bottom {
          bottom: -8px;
          right: 0;
        }
      }
      &:first-child {
        .angle-top {
          display: none;
        }
      }
      &.active {
        z-index: 1;
        .icon {
          opacity: 0.9;
        }
        svg {
          display: block;
        }
      }
      &:hover {
        .icon {
          opacity: 0.9;
        }
      }
    }
  }
}
.scroll {
  height: 300px !important;
}
.options-box {
  background: none !important;
  margin: 10px 0px !important;
  border: 1px solid $NavMainBackgroundColor;
  * {
    color: $NavMainBackgroundColor2 !important;
  }
}

.randomize-button {
  position: absolute !important;
  top: 20px;
  right: 28px;
  z-index: 100;
  img {
    height: 40px;
  }
  .spin {
    animation: rotation 1s infinite linear;
  }
}


.options-tab {
  margin-top: 0;
  color: $NavMainBackgroundColor2 !important;
  opacity: 0.6;
  &.Mui-selected {
    opacity: 1;
  }
}

.css-1kt0o6l {
  margin-top: -16px;
  border: 0;
  border-bottom: 0px solid $NavMainBackgroundColor !important;
}

.css-19kzrtu {
  padding: 8px 0 !important;
}

.radio-list {
  margin-bottom: 12px !important;
  display: block !important;
}

.accordion-content {
  margin-top: -12px;
}

.tools-scroll-wrap {
  height: calc(100vh) !important;
  width: 100%;
}
