.scene-wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  .quick-actions {
    top: 24px;
    z-index: 10;
  }
  .loading {
    position: fixed;
    height: 100% !important;
    width: 100% !important;
    left: 0;
    top: 0;
    z-index: 1000000;
    background: #111111;
  }
  .editor-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #111111;
    border-top: 1px solid #303030;
    padding: 14px 0;
    .selector-button {
      color: #999999;
      text-align: center;
      font-size: 12px;
      min-width: 60px;
      cursor: pointer;
      &:hover {
        .icon {
        background-color: #de2a5e;
        }
      }
      &.active {
        .icon {
        background-color: #de2a5e;
        }
      }
    }
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 2px;
    }
  }
  .canvas {
    height: 100%;
    width: 100%;
  }
  .canvas-wrap {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    top: 0;
    background-color: #111111;
    .scene-tools {
        padding:24px; 
        background: #161616;
        display: none;
        position: absolute;
        top: 0;
        left: -50px;
        z-index: 101;
        .slider {
            height: 100px !important;
        }
    }
  }
}

.snapshot-scene-wrap {
  height: 300px !important;
  width: 300px !important;
  position: absolute;
  right: 0;
  top: 65px;
  zoom: 0.6;
  z-index: 0;
  .scene-tools {
    padding: 24px;
    background: #333333;
    display: none;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 101;
    .slider {
      height: 100px !important;
    }
  }
}
