.SquareButton {
    transition : .3s;
    font-family : Proxima;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    color : rgba(255, 255, 255, 0.5);
    width: '74px';
    height: '74px';
    border: 1px solid #434B58;
    backdrop-filter: blur(22.5px);
    border-radius: 5px;
    display : flex;
    justify-content : center;
    align-items : center;
    box-sizing: border-box;
    opacity : 0.8;
    user-select : none;
    cursor:pointer;
  }

  .SquareButton:hover {
    backdrop-filter: blur(1.5px);
    border-color : white;
    opacity : 1.0;
    color:white;
  }

.StyledAudioButton {
    z-index: 1000;
    background-size: 35px;
}

.AudioOn {
  background-image: url(/ui/soundon.svg);
}

.AudioOff {
  background-image: url(/ui/soundoff.svg);

}