.container {
    z-index: 1000000;
    opacity: 0.8;
    position: absolute;
    width: 600px;
    min-height: 200px;
    font-size: .8rem;
    top: 5em;
    padding: 1em;
    margin: 1em;
    color: #fff;
    background-color: #000;
    /* align to the bottom of the div */
    vertical-align: bottom;
    /* center horizontally with transform */
    right: 2em;
    /* round the corners */
    border-radius: 5px;
}

.container > span {
    display: inline;
    width: 24em;
}


.container > label, .container > span > label {
    display: block;
    width: 100%;
}

/* float the first chatbox span left */
.container > span:first-child {
    float: left;
}

.container > input, .container > span > input {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: .5em;
    padding: .5em;
    display: block;
    width: 20em;
}

.container > textarea {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: .5em;
    padding: .5em;
    width: calc(100% - 2em);
    display: block;
}

.container > select {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: .5em;
    padding: .5em;
    width: calc(100% - 2em);
}

.button {
    opacity: 1.0;
  }
  
  .buttonInactive {
    opacity: 0.5;
  }
  