.container {
  z-index: 1000000;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  min-height: 200px;
  font-size: .875rem;
  top: 0;
  color: #fff;
  box-sizing: border-box;
  padding: 24px 24px 0;
  text-align: left;

  display: flex;
  flex-flow: column nowrap;
}

.container * {
  outline: none !important;
}

.button {
  opacity: 1.0;
}

.buttonInactive {
  opacity: 0.5;
}

.input {
  background-color: #193234;
  border: 1px solid #C5DCD0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding: 8px;
  width: 100%;
}

.label {
  color: #99ABB2;
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.section {
  display: inline;
  width: 100%;
  margin-bottom: 12px;
}

.select {
  background-color: #193234;
  color: #fff;
  border: 1px solid #C5DCD0;
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}