
.ContainerPositionTop {
  padding: 0;
  margin: 0;
  margin-bottom: 105px;
  width:180px;
  height: 35px;
  z-index: 1000;
  backdrop-filter: blur(22.5px);
  background: rgba(5, 11, 14, 0.8);
  user-select: none;
  position: absolute;
  border-radius: 20px 20px 0 0;
  align-items: center;
}

.ContainerPosition {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  width:300px;
  height: 85px;
  backdrop-filter: blur(22.5px);
  background: rgba(5, 11, 14, 0.8);
  z-index: 1000;
  user-select: none;
  position: absolute;
}

.Container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  align-items: flex-end;
  justify-content: center;
}


.arrow-button {

  cursor: pointer;
  overflow: hidden;
  opacity: 0.8;
  width: 25px;
  height: 25px;
  margin: 2px;
  text-align: center;
  outline-color: #3b434f;
  outline-width: 2px;
  outline-style: solid;
  align-items: center;
  margin-bottom: 10px;
  background-color: #1e2530;
}
.left-button{
  background: url('./ui/backButton_small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-button{
  background: url('./ui/nextButton_small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topLine {
  background: rgb(0, 149, 100);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.traitInfoTitle {
  color: white;
  /* text-transform: uppercase; */
  text-shadow: 1px 1px 2px black;
  font-size: 16px;
  word-spacing: 2px;
  margin-bottom: 10px;
}

.flexSelect{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height:40px;
  margin: 5px auto 0;
  align-items: center;
}

.flexButtons{
  display: flex;
  justify-content: space-between;
  width: 100px;
  height:30px;
  margin: 0px auto;
  align-items: center;
}
.flexButtonsTop{
  display: flex;
  justify-content: space-around;
  width: 150px;
  height:100%;
  margin: auto;
  padding-top: -3 0px;
  align-items: center;
}
.optionButtons{
  cursor: pointer;
  overflow: hidden;
  opacity: 0.8;
  width: 25px;
  height: 25px;
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.optionButtonsSmall{
  cursor: pointer;
  overflow: hidden;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.optionButtons img{
  width: 100%;
  height: 100%;
}

.optionButtonsSmall img{
  width: 80%;
  height: 80%;
}

