.chatBox {
    width: 100%;
    height: 100%;
    font-size: .8rem;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    padding: 24px;
}

.chatBox * {
    outline: none !important;
}


.chatBox > label, .chatBox > span > label {
    display: block;
    width: 100%;
    color: #99ABB2;
    margin-bottom: 8px;
}

.chatBox > input, .chatBox > span > input {
    background-color: #193234;
    color: #fff;
    border: 1px solid #C5DCD0;
    padding: .5em;
    display: block;
}

.chatBox > textarea {
    background-color: #193234;
    color: #fff;
    border: 1px solid #C5DCD0;
    padding: .5em;
    width: calc(100% - 1em);
    display: block;
}

.chatBox > select {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: .5em;
    padding: .5em;
    width: calc(100% - 1em);
}

.messages { 
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 180px;
    overflow: auto;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: none;
    background-color: #193234;
    color: #fff;
    border: 1px solid #C5DCD0;
    padding: .5em;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 132px);
    height: -webkit-calc(100% - 132px);
}

/* make the scrollbar transparent with a white thumb */
.messages::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

/* set the input0 text color to white */
.send input {
    background-color: #193234;
    color: #fff;
    border: 1px solid #C5DCD0;
    padding: .5em;
    width: calc(100% - 144px);
    margin-left: 10px;
    margin-right: 8px;
    height: 18px;
    display: inline-block;
}

.mic {
    vertical-align: middle;
}

.sendButton {
    vertical-align: bottom;
    float: right;
}

.speaker {
    width: 100%;
}

.speaker > label {
    display: block;
    color: #99ABB2;
    margin-bottom: 8px;
}

.speaker input {
    background-color: #193234;
    color: #fff;
    border: 1px solid #C5DCD0;
    padding: .5em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}

  