.SideMenu {
    position: fixed;
    overflow: hidden;
    left: 2em;
    top: 20vh;
    height: 39em;
    border: 1px solid #38404E;
    border-radius : 5px;
    backdrop-filter: blur(22.5px); 
    box-sizing : border-box;
    transform: perspective(70vh) rotateY(5deg);
    backdrop-filter: blur(22.5px);
    user-select : none;
    z-index:1000;
}

.LineDivision {
    border: 1px solid #3A7484;
    width: 98%;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.MenuImg {
    display: inline-block;
    width: 100%;
    opacity: 0.3;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.MenuOption {
    width: 3.5em;
    margin: .25em;
    margin-bottom: 1em;
}

.MenuOptionSelected {
    opacity: 1;
    width: 100%;
}

.MenuImgActive {
    opacity: 1;
    display: inline-block;
    width: 100%;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .25em;
    margin-top: .25em;
}

.ShuffleOption {
    border-right: '';
    opacity: .5;
    height: 2.5em;
    width: 2.5em;
    padding: 0em;
    display: flex;
    margin-top: .25em;
    margin-left: auto;
    margin-right: auto;
}

.ShuffleOptionActive {
    border-right: '';
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    padding: 0em;
    display: flex;
    margin-top: .25em;
    margin-left: auto;
    margin-right: auto;
}

.MenuTitle {
    display: inline-block;
    text-align: center;
    height: 3.5em;
    width: 100%;
    text-align: center;
    margin: 0 auto .25em auto;
    user-select: none;
}
.MenuImg:hover, .ShuffleOption:hover {
    opacity: 1;
}

.LoadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* centered vertically and horizontally, about 10em big */
.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1.0, 1.0, 1.0, 0.5);
    height: min(30vh, 30vw);
    width: min(30vh, 30vw);
    min-height: 10em;
    min-width: 10em;
    border-radius: 1em;
}

.LoadingText {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
}