.SideMenu {
  position: fixed;
  left: 32px;
  top: 88px;
  height: -webkit-calc(100vh - 166px);
  height: calc(100vh - 166px);
  backdrop-filter: blur(22.5px);
  background: rgba(5, 11, 14, 0.8);
  z-index: 1000;
  user-select: none;
}

.scrollContainer {
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  position: relative;
  overflow-x: none;
  margin: 16px;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
}

.selector-container {
  user-select: none;
  flex: 1;
  width: 110px;
  position: relative;
  text-align: center;
}

.selectorButton {
  padding: 0.15em;
  display: block;
  position: relative;
}

.mainTitleWrap {
  background: rgba(5, 11, 14, 0.8);
  position: absolute;
  top: -28px;
  padding: 8px 0 6px 0;
  font-size: 12px;
  width: 104px;
  text-align: center;
  left: 20px;
  color: #5eb086;
  text-transform: uppercase;
}

.mainTitleWrap .mainTitle {
  font-size: 12px;
  text-transform: uppercase;
}

.topLine {
  background: rgb(0, 149, 100);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.bottomLine {
  background: rgb(0, 149, 100);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 149, 100, 0) 0%,
    rgba(8, 234, 160, 1) 50%,
    rgba(0, 149, 100, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009564",endColorstr="#009564",GradientType=1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.MenuImg {
  display: inline-block;
  width: 100%;
  opacity: 0.3;
  user-select: none;
  text-align: center;
  cursor: pointer;
  border-right: "";

  margin: auto;
  src: "";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.MenuOption {
  width: 3.5em;
  margin: 0.25em;
  margin-bottom: 1em;
}

.MenuOptionSelected {
  opacity: 1;
  width: 100%;
}

.MenuImgActive {
  opacity: 1;
  display: inline-block;
  width: 100%;
  user-select: none;
  text-align: center;
  cursor: pointer;
  border-right: "";

  margin: auto;
  src: "";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.ShuffleOption {
  border-right: "";
  opacity: 0.5;
  height: 2.5em;
  width: 2.5em;
  padding: 0em;
  display: flex;
  margin-top: 0.25em;
  margin-left: auto;
  margin-right: auto;
}

.ShuffleOptionActive {
  border-right: "";
  opacity: 1;
  height: 2.5em;
  width: 2.5em;
  padding: 0em;
  display: flex;
  margin-top: 0.25em;
  margin-left: auto;
  margin-right: auto;
}

.MenuTitle {
  display: inline-block;
  text-align: center;
  height: 3.5em;
  width: 100%;
  text-align: center;
  margin: 0 auto 0.25em auto;
  user-select: none;
}
.MenuImg:hover,
.ShuffleOption:hover {
  opacity: 1;
}

.LoadingContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* centered vertically and horizontally, about 10em big */
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.5);
  height: min(30vh, 30vw);
  width: min(30vh, 30vw);
  min-height: 10em;
  min-width: 10em;
  border-radius: 1em;
}

.LoadingText {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
}
