.SideMenu {
    position: absolute;
    left: 2em;
    top: 20vh;
    height: 60vh;
    height: 36em;
    border: 1px solid #38404E;
    border-radius : 5px;
    backdrop-filter: blur(22.5px); 
    box-sizing : border-box;
    transform: perspective(70vh) rotateY(5deg);
    backdrop-filter: blur(22.5px);
    user-select : none;
}

.LineDivision {
    border: 1px solid #3A7484;
    width: 98%;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.MenuImg {
    display: inline-block;
    width: 100%;
    opacity: 0.3;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.MenuImg:hover {
    opacity: 1;
}

.MenuOption {
    width: 3.5em;
    margin: .25em;
    margin-bottom: 1em;
}

.MenuOptionSelected {
    opacity: 1;
    width: 100%;
}

.MenuImgActive {
    opacity: 1;
    display: inline-block;
    width: 100%;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .25em;
    margin-top: .25em;
}

.ShuffleOption {
    border-right: '';
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    padding: .5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.MenuTitle {
    display: inline-block;
    text-align: center;
    height: 3.5em;
    width: 100%;
    text-align: center;
    margin: 0 auto .25em auto;
    user-select: none;
}
