.slider-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.slider {
  width: 100%; /* Adjust as needed */
  margin-right: 10px;
  
}
.infoContainer{
  display: flex;
  justify-content: space-between;
}

.input-box {
  width: 60px; /* Adjust as needed */
  height: 20px;
  color: #5eb086;
  background-color:rgba(5, 11, 14, 0.5);
  border: none;
  font-size: medium;
  font-weight: 500;
  margin-left: 15px;
}
.input-box:focus {
  outline: none;
}

.input-box::selection {
  background-color: #111f17;
  color: #5eb086;
}

