.InformationContainerPos {
    position: absolute;
    top: 98px;
    right: 50px;
    height: 500px;
    width: 300px;
    backdrop-filter: blur(22.5px);
    background: rgba(5, 11, 14, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.traitInfoTitle {
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    word-spacing: 2px;
    margin-bottom: 10px;
}
.traitInfoText {
    color: rgb(179, 179, 179);
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    word-spacing: 2px;
    margin-bottom: 30px;
}
.input-box {
    width: 60px; /* Adjust as needed */
    height: 20px;
    color: #5eb086;
    background-color:rgba(5, 11, 14, 0.5);
    border: none;
    font-size: large;
    font-weight: 700;
    margin-left: 15px;
  }
  .input-box:focus {
    outline: none;
  }
  
  .input-box::selection {
    background-color: #111f17;
    color: #5eb086;
  }