@import "../../assets/styles/colors";

.download-wrap {
    position: absolute;
    top: 20px;
    right: 154px;
    z-index: 10;
    .downlod-button {
        padding:0 !important;
    }
    .expand-download {
        background: $NavMainBackgroundColor;
        cursor: pointer;
    }
}
.close-popup {
    position: absolute !important;
    right: 0px;
    top: 8px;
    background: none !important;
    color: #999999 !important;
    &:hover {
        color: #EFEFEF !important;
    }
}
.nav-item {
    background-color: #FFFFFF !important;
    margin-top: 4px !important;
    &:first-child {
    margin-top:12px !important;
    }
}