// General Colors
$BodyMainBackgroundColor: #0f1321;

// Navigation Colors
$NavMainBackgroundColor: #003b63;
$NavMainBackgroundColor2:rgb(31, 144, 220);
$NavMainBorderColor: #002c4a;
$NavMainActiveColor: #002c4a; 
$NavMainHoverColor: #002c4a;

$MeshSelectionBorderColor: #0085de;


// General
$DarkBlue: #002459;