// General Colors
$BodyMainBackgroundColor: #9e9e9e;

// Navigation Colors
$NavMainBackgroundColor: #acacac;
$NavMainBackgroundColor2:rgb(211, 211, 211);
$NavMainBorderColor: #e0e0e0;
$NavMainActiveColor: #e0e0e0; 
$NavMainHoverColor: #e0e0e0;

$MeshSelectionBorderColor: #dddddd;


// General
$DarkBlue: #303030;